.expire-btn{
    background-color: #f8d7da !important;
    color: #721c24 !important;
    border: 1px solid #f5c6cb;
    cursor: not-allowed;
    font-weight: 500;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 13px;
    pointer-events: none;
    transition: background-color 0.3s ease;
  }
  