<div class="admin-layout">
    <aside class="sidebar">
        <div class="mb-4 title">
            <h3>CLERK POC</h3>
        </div>
        <div class="menu">
            <ul>
                <li *ngIf="!isSystemAdministrator && isSubscriptionValid"><a routerLink="/admin/dashboard">Dashboard</a></li>
                <li *ngIf="!isSystemAdministrator && !isWorker && isSubscriptionValid"><a routerLink="/admin/users">Users</a></li>
                <li *ngIf="isSystemAdministrator "><a routerLink="/admin/organization">Organization</a></li>
                <li *ngIf="!isSystemAdministrator &&  !isWorker"><a routerLink="/admin/subscription">Subscription</a></li>
                <!-- <li *ngIf="!isSystemAdministrator"><a routerLink="/admin/cards">Cards</a></li> -->
            </ul>
        </div>
    </aside>

    <div class="main-content">
        <nav class="navbar">
            <div class="navbar-content">
                <img *ngIf="userImageUrl" [src]="userImageUrl" alt="Manage Account" class="user-icon"
                    (click)="manageAccount()" />
                <button class="logout-btn" (click)="logout()">Logout</button>
            </div>
        </nav>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>