.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #002147; 
    padding: 20px;
  }
  
  .logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signIn-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  
  .logo {
    max-width: 50%;
    height: auto;
  }

  