<div *ngIf="!isSubscriptionValid" class="free-plan-banner">
  <span>{{subscriptionMessage}}</span>
</div>
<div class="subscription-wrapper">
  <ng-container *ngFor="let plan of plans">
    <div class="free-plan-banner"
      *ngIf="plan.name?.toLowerCase().includes('free')&& plan.productId === plan.activePlanId && plan.isActivated && isSubscriptionValid">
      ⚠️ You are currently on the <strong>Free Plan</strong>, limited to <strong>2 users</strong>.
      This plan will expire on <strong>{{ plan.expiryDateFormatted }}</strong>.
    </div>
    <mat-card class="subscription-card" *ngIf="!plan.name?.toLowerCase().includes('free')">
      <mat-card-header>
        <mat-card-title>{{ plan.name }}</mat-card-title>
        <mat-card-subtitle>{{ plan.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let feature of plan.features">{{ feature }}</li>
        </ul>
        <div class="price">{{ plan.price }}</div>
      </mat-card-content>
      <mat-card-actions>
        <ng-container
          *ngIf="plan.productId === plan.activePlanId && plan.isActivated && isSubscriptionValid; else showUpgradeButton">
          <div class="highlighted-plan-message">
            <div class="line-1">You are running under this plan.</div>
            <div class="line-2">Next payment date is <strong>{{ plan.expiryDateFormatted }}</strong>.</div>
          </div>
        </ng-container>

        <ng-template #showUpgradeButton>
          <ng-container *ngIf="!plan.name?.toLowerCase().includes('free'); else freeTemplate">
            <button mat-stroked-button (click)="updatePlan(plan.priceId)">
              Upgrade to {{ plan.name }}
            </button>
          </ng-container>
        </ng-template>

        <ng-template #freeTemplate>
          <ng-container *ngIf="!plan.isExpired; else expiredBtn">
            <button mat-stroked-button color="accent" class="expire-button">
              Expire on <span class="expire-date">{{ plan.expiryDateFormatted }}</span>
            </button>
          </ng-container>
        </ng-template>

        <ng-template #expiredBtn>
          <button mat-stroked-button color="warn" class="expired-button" disabled>
            Expired
          </button>
        </ng-template>
      </mat-card-actions>

    </mat-card>
  </ng-container>
</div>