<!-- <div class="auth-container">
  <h2>Register</h2>
  <button (click)="register()">Sign Up with Clerk</button>
</div>  -->
<!-- <div class="auth-container">
  <h2>Register</h2>
  <clerk-sign-up
    after-sign-up-url="/admin/dashboard"
    [sign-up-options]="signUpOptions"
  >
  </clerk-sign-up>
</div> 
 -->
 <div class="auth-container">
  <div #clerkSignUp></div>
</div>

<!-- <div class="auth-container">
  <h2>Register</h2>
  <clerk-sign-up
    after-sign-up-url="/admin/dashboard"
    [sign-up-options]="signUpOptions"
  >
  </clerk-sign-up>
</div> -->