<div class="container form-container">
    <form [formGroup]="userForm">
        <!-- <div class="row mb-3 mt-3">
            <div class="col-sm-12 col-md-6">
              <mat-form-field class="form-field max-width" appearance="outline">
                <mat-label>Reference Name</mat-label>
                <input matInput formControlName="firstName" />
              </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <mat-form-field class="form-field max-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput formControlName="lastName" />
              </mat-form-field>
            </div>
          </div> -->

        <div class="row row-field">
            <div class="col-md-6 column">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" formControlName="firstName" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName" />
            </div>
        </div>

        <div class="row row-field">
            <div class="col-md-6">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" formControlName="username" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" />
            </div>
        </div>

        <div class="row row-field">
            <div class="col-md-6">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Role</label>
                <select class="form-select" formControlName="role">
                    <option value="Worker">Worker</option>
                </select>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="!userForm.valid"
                    (click)="onSubmit()">Create User</button>
            </div>
        </div>
    </form>
</div>